* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background: linear-gradient(to bottom,rgba(36,130,155,1) 0%, rgba(37,65,125,1) 100%) no-repeat;
}

main {
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.cities-wrapp {
    margin: auto;
    width: 50%;
}

.img-wrapp {
    margin: auto;
    width: 50%;
}

.temp-wrapp {
    width: 100%;
    text-align: center;
} 
