* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background: linear-gradient(to bottom,rgba(36,130,155,1) 0%, rgba(37,65,125,1) 100%) no-repeat;
}

main {
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

.content-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;

    .content-citiesAndImage-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .cities-wrapper {
            text-align: center;
        }

        .img-wrapper {
            text-align: center;
        }
    }

    .temp-wrapper {
        display: grid;
        grid-template-rows: 1fr 1fr;

        .temp {
            text-align: center;
        }

        .additionForTemp {
            text-align: center;
        }
    } 
}